/* GENERAL */
body{
	font-family: Arial;
}
h1{
	font-size: 18px;
}
h1{
	font-size: 20px;
	text-align:center;
}
h2{
	font-size: 18px;
	text-align:left;
}

/* HEADER */
#header{
	height:20px;
}
.headerleft{
	width:250px;
	float:left;
	height:20px;
	position:relative;
	text-align: left;
}
.headermiddle{
	height:20px;
	text-align: center;
	position:relative;
}
.headerright{
	width:250px;
	float:right;
	height:20px;
	position:relative;
	text-align: right;
}


/* CONTENT */
.centered{
	margin:auto;
	margin-top:50px;
	margin-bottom:100px;
}
.login-form{
	width:300px;
}
.register-form{
	width:400px;
}
.forgot-form{
	width:400px;
}
.main{
	width:800px;
}
.desc{
	width:350px;
}

#timetable{
	padding-bottom:25px;
	text-align: center;
}
#timetable .table{
	margin-bottom: 100px;
}
#timetable td{
	width: 125px;
}
#timetable tr:nth-child(odd){
	background-color:#e8e8e8;
}
#timetable tr:nth-child(even){
	background-color:#fff;
}
#timetable ul{
	text-align: left; margin-bottom: 50px;
}
.optionpane{
	text-align: left;
}

.lesson{}
.time{
	font-size: 10px;
}
.teacher{
	font-size: 10px;
	text-align: left;
	width: 50%;
}
.room{
	font-size: 10px;
	text-align: right;
	width: 50%;
}

.alert{
	width: 500px;
	padding:25px;
}
.error{
	background-color: #ffadad;
	border: #f00 2px dashed;
}
.success{
	background-color: #d5ffad;
	border: #0f0 2px dashed;
}


/* FOOTER */
#footer{
	height:20px;
}
.footerleft{
	width:300px;
	float:left;
	height:20px;
	position:relative;
	text-align: left;
}
.footerright{
	width:200px;
	float:right;
	height:20px;
	position:relative;
	text-align: right;
}